.issues-top-wrap {
  display: flex;
  text-align: center;
  height: 100%;
}

.issues-repo-wrap {
  margin-left: 1vw;
}

.issues-col {
  display: flex;
  flex-direction:column;
  align-items:center;
  width: 100%;
  height: 100%;
  margin-bottom: 1vh;
}

.table-wrap {
  display: flex;
  flex-direction:column;
  align-items:center;
  width: 75%;
}