@import '../../../main';

.listview-wrap {
  display:flex;
  flex-direction:column;
  align-items:center;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.listview-wrap-col {
  position: relative;
}

.ul-wrap, .ul-wrap-col {
  width: 100%;
  padding-left: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  padding: 1rem;
  background-color: white;
  li {
    display: inline;
    list-style-type: none;
  }
}

.ul-wrap-col {
  box-shadow: none;
}

.list-item, .list-item-selected, .list-item-col {
  margin: auto;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  transition: background-color 0.5s ease;
  width: 100%;
  button {
    width: 100%;
    margin-top: 5px;
    text-align: left;
    display:block;
    background: white;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    padding: 0!important;
    font-size: 1.2rem;
    color: #069;
    outline: none;
    cursor: pointer;
    div {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px 0 10px 0;
      color: black;
      font-size: 1rem;
      text-decoration: none;
      span {
        padding: 0.5rem 0 0 0rem;
        font-size: 0.785rem;
      }
    }
  }
  button:hover {
    background: #E8F8F5;
  }
}
.list-item-selected {
  button {
    background: #E8F8F5;
  }
}
.list-item-col {
  button {
    border-bottom: none;
  }
}